$colorBlack: #1d1d1b;
$colorWhite: #f2f6f6;
$colorGray: #a4adac;
$colorOrange: #ff5900;
$colorOrangeDark: #e0570e;
$colorRed: #ff4026;
$colorGreen: #32cd32;

@mixin onHover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin mediaMobile {
  @media (max-width: 767.98px) {
    @content;
  }
}
